@import "tailwindcss";

.card {
  top: calc(50% - 175px);
  left: calc(50% - 175px);
}

.caligraphy {
  font-family: 'Caligraphi', cursive;
}

.bent {
  transform: rotate(-15deg);
  transform-origin: right;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 30s linear infinite;
}